---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Analytics from '@vercel/analytics/astro'

<html>
  <body>
    <slot />
    <Analytics />
  </body>
</html>

/* PROPS */
const { title, current } = Astro.props;
---

<!doctype html>
<html lang="en">
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{title}</title>
  </head>

  <body>

    <div class="site-frame">

      <Header current={current} />

      <main class="site-main">
        <slot />
      </main>

      <footer class="site-footer">
        <p>© {new Date().getFullYear()} Cavan Reed-O'Connor</p>
      </footer>

    </div>

  </body>
</html>